@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Toy Website</h1>
    <p>Explore amazing toys for all ages!</p>

    <div class="mt-4">
         <a asp-controller="Toys" asp-action="Index" class="btn btn-info ml-2">Toys Catalog</a>
    </div>
</div>